{% extends "bootstrap_5_layout.html" %}
{% set active_page = "dashboard" %}

{% block content %}

    <h2>Going Out Dashboard</h2>

    <div id="chart-container" height="700px"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">

        console.log("DASHBOARD...")

        // use data from the router!
        //var entries = '{{ entries }}'
        var frequencies = JSON.parse('{{ frequencies | tojson }}')
        var clubList = JSON.parse('{{ clubList | tojson }}')
        var yearList = JSON.parse('{{ yearList | tojson }}')
        var freshmanFrequencies = JSON.parse('{{ freshmanFrequencies | tojson }}')
        var sophomoreFrequencies = JSON.parse('{{ sophomoreFrequencies | tojson }}')
        var juniorFrequencies = JSON.parse('{{ juniorFrequencies | tojson }}')
        var seniorFrequencies = JSON.parse('{{ seniorFrequencies | tojson }}')
        //var stockData = JSON.parse('{{ data }}')
        //var stockData = '{{ data }}'
        //var data = JSON.parse('{{entries | tojson}}') // https://stackoverflow.com/a/45132694/670433
        //console.log(data)

        //var tsd = stockData["Time Series (Daily)"]
        //var dates = Object.keys(tsd)
        //var dailyPrices = Object.values(tsd)
        //var clubs = data.map(obj => obj["Club"])
        //var years = data.map(obj => obj["Year"])

        // visualize the data
        // see: https://plotly.com/javascript/line-charts/
        var series1 = {
            x: clubList,
            y: freshmanFrequencies,
            type: 'bar',
            name: 'Freshmen'
        }
        var series2 = {
          x: clubList,
          y: sophomoreFrequencies,
          type: 'bar',
          name: 'Sophomores'
        }
        var series3 = {
          x: clubList,
          y: juniorFrequencies,
          type: 'bar',
          name: 'Juniors'
        }
        var series4 = {
          x: clubList,
          y: seniorFrequencies,
          type: 'bar',
          name: 'Seniors'
        }
        var chartData = [series1, series2, series3, series4]
        var layout = {
            title: "Summarized Data: ",
            height: 600,
            barmode: 'stack'
        }
        //Plotly.newPlot("chart-container", data, layout, {responsive: true})
        Plotly.newPlot("chart-container", chartData, layout)

    </script>

{% endblock %}
