{% extends "bootstrap_5_layout.html" %}
{% set active_page = "dashboard" %}

{% block content %}

    <h2>Georgetown's Going Out Dashboard</h2>

    <p class="lead">Summarized Data:</p>

    <div id="chart-container" height="700px"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">

        console.log("DASHBOARD...")

        // use data from the router!
        //var entries = '{{ entries }}'
        var frequencies = '{{ frequencies }}'
        var clubList = '{{ clubList }}'
        var yearList = '{{ yearList }}'
        //var stockData = JSON.parse('{{ data }}')
        //var stockData = '{{ data }}'
        //var data = JSON.parse('{{entries | tojson}}') // https://stackoverflow.com/a/45132694/670433
        //console.log(data)

        //var tsd = stockData["Time Series (Daily)"]
        //var dates = Object.keys(tsd)
        //var dailyPrices = Object.values(tsd)
        //var clubs = data.map(obj => obj["Club"])
        //var years = data.map(obj => obj["Year"])

        // visualize the data
        // see: https://plotly.com/javascript/line-charts/
        var chartData = [
          {
              x: clubList,
              y: frequencies,
              type: 'bar'
          }
        ]
        //var chartData = [series]
        var layout = {
            title: "Georgetown's Moves: " + symbol,
            height: 600
            }
        }
        //Plotly.newPlot("chart-container", data, layout, {responsive: true})
        Plotly.newPlot("chart-container", chartData, layout)

    </script>

{% endblock %}
