{% extends "bootstrap_5_layout.html" %}
{% set active_page = "form" %}

{% block content %}

    <h2>Nightlife Form</h2>

    <p>Tell everyone where you are going tonight!</p>

    <form action="/dashboard" method="POST">

      <label>Club</label>
      <select name="Club">
          <option value="Abigail">Abigail</option>
          <option value="Sign of the Whale">Sign of the Whale</option>
          <option value="Tokyo Pearl">Tokyo Pearl</option>
          <option value="Ultrabar">Ultrabar</option>
          <option value="Decades">Decades</option>
      </select>
      <br>
        <label>Year</label>
        <select name="Year">
            <option value="Freshman">Freshman</option>
            <option value="Sophomore">Sophomore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
        </select>
        <br>
        <br>

        <button class="btn btn-success">Submit</button>
    </form>

{% endblock %}
